<%- include('../partials/header')%>

<div class="container">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <th>Stok</th>
                <th>Harga Beli</th>
                <th>Harga Jual</th>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach((item, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.kode_barang %></td>
                    <td><%= item.nama_barang %></td>
                    <td class="right-position"><%= item.stok %></td>
                    <td class="right-position"><%= currencyFormatter.format(item.harga_beli) %></td>
                    <td class="right-position"><%= currencyFormatter.format(item.harga_jual) %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer')%>